UPLOAD_LOCATION=/path/to/immich/files
DB_DATA_LOCATION=/path/to/immich/postgres
TZ=America/Bogota
IMMICH_VERSION=release
DB_PASSWORD=change_me
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
# Required only if using the cloudflared service (see docker-compose.yml)
CLOUDFLARE_TUNNEL_TOKEN=change_me
